<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find water_navigation)/maps/robot_lab_10cm/map.yaml"/>
  <!-- <arg name="map_file" default="$(find water_navigation)/maps/robot_lab_5cm/map.yaml"/> -->

  <arg name="open_rviz" default="true"/>

  <!-- Water -->
  <include file="$(find water_description)/launch/water_description.launch"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find water_navigation)/launch/water_amcl.launch"/>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="fake_localization" args="0 0 0 0 0 0 1 /map odom"/> -->

  <!-- move_base -->
  <include file="$(find water_navigation)/launch/water_move_base.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find water_navigation)/rviz/water_navigation.rviz"/>
  </group>
</launch>
